# Video files and large binaries
*.v5p
*.v5y
*.v5b
*.raw
*.mp4
*.mkv
*.webm
*.zip

# PROS and build artifacts
bin/
.vscode/
.cache/
.d/
*.o
*.obj
*.bin
*.elf
compile_commands.json
temp.log
temp.errors

# Python & editor swap/backup files
__pycache__/
*.pyc
*.bak
*.kate-swp
.*.kate-swp
*.swp

